<h1>Login</h1>

<form action="/auth/authenticate" method="POST">
    <div>
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Entrar</button>
</form>
<a href="/auth/register">Cadastro</a>